<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <a href="/movies/<%= movie[:id] %>"><%= movie[:title] %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <a href="/movies?page=<%= @page_no.to_i + 1 %>">Next</a>
</div>
