<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MOVIES</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h3>MOVIES!</h3>

    <div>
      <form action="/movies" method="GET">
        <label for="query">Search: </label>
        <input type="text" name="query">

        <input type="submit" value="Search">
      </form>
    </div>

    <%= yield %>
  </body>
</html>
